@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="peliculasContainer"></div>
<script> src="https://code.jquery.com/jquery-3.6.8.min.js"</script>

<script>

    $(document).ready(function () {
        obtenerPeliculas();

    });

    function obtenerPeliculas() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ObtenerPeliculasJson", "Pelicula")",
            dataType: "json",
            success: function (peliculas) {
                mostrarPeliculas(peliculas);
            },

            error: function () {
                alert("Error, No Movies at the URL")
            }

        });
    }

    function mostrarPeliculas(peliculas) {
        var output = "";

        for (var i = 0; i < peliculas.length; i++) {
            output += "<div>";
            output += "<strong> Id: </strong>" + peliculas[i].IdPelicula + "<br />";
            output += "<strong> Nombre: </strong>" + peliculas[i].NombrePelicula + "<br />";
            output += "<strong> Categoria: </strong>" + peliculas[i].CategoriaPelicula + "<br />";
            output += "<strong> Cantidad de entradas: </strong>" + peliculas[i].CantidadEntradas + "<br />";
            output += "<strong> Valor de entradas: </strong>" + peliculas[i].ValorEntradas + "<br />";
            output += "<div />";
        }

        $("peliculasContainer").html(output);
    }

</script>

